/* Assume we know what we are doing for programmatic focus */
:focus[tabindex='-1'] {
  outline: none;
  /* Debug */
  /* outline: 4px solid red; */
}

.link {
  text-decoration: none;
}
.link,
.link:active,
.link:focus,
.link:hover,
.link:link,
.link:visited {
  transition: color 0.15s ease-in, background-color 0.15s ease-in;
}
.link:focus {
  outline: 3px solid var(--color-accent);
}
.button-link {
  text-decoration: none;
}
.focus-shadow,
.focus-shadow:active,
.focus-shadow:focus,
.focus-shadow:hover,
.focus-shadow:link,
.focus-shadow:visited {
  transition: color 0.15s ease-in, background-color 0.15s ease-in;
}
.focus-shadow:focus {
  /* Enhance outline that follows border */
  /* Keep an outline for Windows High-Contrast Mode */
  outline: 3px solid transparent;
  box-shadow: 0 0 0 3px var(--color-accent);
}
.focus-shadow-faint:focus {
  /* Enhance outline that follows border */
  /* Keep an outline for Windows High-Contrast Mode */
  outline: none;
  box-shadow: 0 0 0 3px var(--color-accent-faint);
}
