/* PhantomSans */
/* Variable and fallbacks.
 * @see https://medium.com/clear-left-thinking/how-to-use-variable-fonts-in-the-real-world-e6d73065a604
*/

/* PhantomSansVariable
 * Variable needs only woff2, since their support overlaps.
*/
@font-face {
  font-family: 'PhantomSansVariable';
  font-display: swap;
  src: url(/assets/fonts/phantom-sans-v5-variable.woff2) format('woff2');
  font-weight: 1 999;
}

/* PhantomSans-regular */
@font-face {
  font-family: 'PhantomSans';
  /* TODO: reconsider font-display for these */
  font-display: swap;
  src: url(/assets/fonts/phantom-sans-v5-regular.woff2) format('woff2'),
    url(/assets/fonts/phantom-sans-v5-regular.woff) format('woff');
  font-weight: 400;
}

/* PhantomSans-bold */
@font-face {
  font-family: 'PhantomSans';
  font-display: swap;
  src: url(/assets/fonts/phantom-sans-v5-bold.woff2) format('woff2'),
    url(/assets/fonts/phantom-sans-v5-bold.woff) format('woff');
  font-weight: 700;
}

/* Use @supports to pick the correct fonts */
.f-phantomsans {
  font-family: 'PhantomSans', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

@supports (font-variation-settings: normal) {
  .f-phantomsans {
    font-family: 'PhantomSansVariable', Arial, Helvetica, sans-serif;
    /* Normalise font-weight if not specified */
    font-variation-settings: 'wght' 1;
  }
  b {
    font-variation-settings: 'wght' 700;
  }
}
