@import './base.css';
@import './button-reset.css';
@import './enhanced-focus.css';
@import './fonts.css';
@import './animations.css';
@import './tachyons-with-extras.css';
@import './vertical-spacing.css';
@import './skip-link.css';
@import './visually-hidden.css';
@import './enhanced-input.css';
@import './grid-entries.css';
@import './switch-toggle.css';
@import './navigation.css';

/** TODO: move to :root selector, whenever critters supports it */
html {
  --color-bg: #f6fffe;
  --color-bg-lighter: #fff;
  --color-fg: #111111;
  --color-fg-faint: #aaaaaa;
  --color-accent: #0769d3;
  --color-accent-faint: rgba(3, 102, 214, 0.5);
  --map-bg: #dddddd;
  color-scheme: light dark;
  hyphens: auto;
}

.dark-mode {
  --color-bg: #111717;
  --color-bg-lighter: #1b2029;
  --color-fg: #f4f4f4;
  --color-fg-faint: #666;
  --color-accent: #96ccff;
  --color-accent-faint: #96ccff;
  --map-bg: var(--color-bg-lighter);
}

.b--color-faint {
  border-color: var(--color-fg-faint);
}

.b--color-fg {
  border-color: var(--color-fg);
}

.color-fg {
  color: var(--color-fg);
}

.color-bg {
  color: var(--color-bg);
}

.color-fg-faint {
  color: var(--color-fg-faint);
}

.color-accent {
  color: var(--color-accent);
}

.bg-color-bg {
  background-color: var(--color-bg);
}

.bg-color-lighter {
  background-color: var(--color-bg-lighter);
}

.elm-root,
header,
.navigation-bar {
  transition-property: color, background-color, border-color;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}
