@import './base.css';
@import './button-reset.css';
@import './enhanced-focus.css';
@import './fonts.css';
@import './animations.css';
@import './tachyons-with-extras.css';
@import './vertical-spacing.css';
@import './skip-link.css';
@import './visually-hidden.css';
@import './enhanced-input.css';
@import './grid-entries.css';
@import './switch-toggle.css';
@import './status-indicator.css';
@import './Page.css';

:root {
  --color-bg: #f6fffe;
  --color-bg-lighter: #fff;
  --color-text: #111111;
  --color-text-faint: #aaaaaa;
  --color-accent: #0769d3;
  --color-accent-faint: rgba(3, 102, 214, 0.5);
  --color-success: #137752;
  --color-warning: #a84400;
  --leaflet-map-bg: #dddddd;
  --leaflet-map-height: 80vh;
  color-scheme: light dark;
  hyphens: auto;
}

.dark-mode {
  --color-bg: #111717;
  --color-bg-lighter: #1b2029;
  --color-text: #f4f4f4;
  --color-text-faint: #666;
  --color-accent: #96ccff;
  --color-accent-faint: #96ccff;
  --color-success: #9eebcf;
  --color-warning: #ef9c04;
  --leaflet-map-bg: var(--color-bg-lighter);
}

.b--color-faint {
  border-color: var(--color-text-faint);
}

.b--color-text {
  border-color: var(--color-text);
}

.color-text {
  color: var(--color-text);
}

.color-bg {
  color: var(--color-bg);
}

.color-text-faint {
  color: var(--color-text-faint);
}

.color-accent {
  color: var(--color-accent);
}

.bg-color-bg {
  background-color: var(--color-bg);
}

.bg-color-lighter {
  background-color: var(--color-bg-lighter);
}

.success {
  color: var(--color-success);
}

.bg-success {
  background-color: var(--color-success);
}

.warning {
  color: var(--color-warning);
}

.bg-warning {
  background-color: var(--color-warning);
}

leaflet-map {
  contain: layout paint;
}

system-info {
  contain: layout paint;
}
