/* NOTE: This file is bundled with postcss-import, and not webpack.
   This is intentional; webpack should only provide a raw text to reference in <style> or ConstructableStylesheet.
   The setup for the other CSS files is for "extracting" to the top-level, for <link> tags
   @see webpack.config.js and leaflet-map.ts for more info
*/
@import 'leaflet/dist/leaflet.css';
@import 'leaflet.markercluster/dist/MarkerCluster.css';
@import 'leaflet.markercluster/dist/MarkerCluster.Default.css';

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 44px !important;
  height: 44px !important;
  line-height: 1 !important;
}

/* Propagate height for leaflet map */
.leaflet-map-wrapper {
  background: #ddd;
}
/* Hide leaflet map if not defined */
leaflet-map:not(:defined) {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
