/* Vertical spacing */
.vs1 > * + * {
  margin-top: 0.25rem;
}

.vs2 > * + * {
  margin-top: 0.5rem;
}

.vs3 > * + * {
  margin-top: 1rem;
}

.vs4 > * + * {
  margin-top: 2rem;
}

.vs5 > * + * {
  margin-top: 4rem;
}

@media screen and (min-width: 30em) {
  .vs1-ns > * + * {
    margin-top: 0.25rem;
  }

  .vs2-ns > * + * {
    margin-top: 0.5rem;
  }

  .vs3-ns > * + * {
    margin-top: 1rem;
  }

  .vs4-ns > * + * {
    margin-top: 2rem;
  }

  .vs5-ns > * + * {
    margin-top: 4rem;
  }
}
